make_json/1.1.4.입법부 인스타발행.blueprint.json
{
    "name": "1.1.4.입법부 인스타발행",
    "flow": [
        {
            "id": 11,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "share",
                "mode": "select",
                "limit": 10,
                "sheetId": "입법부",
                "__IMTCONN__": 4265114,
                "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 201,
                    "y": 409
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "입법부"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (oheth9@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "ESG2TEAM",
                                "2-2차",
                                "최종입법데이터"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "메일제목 (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "수집일 (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "의안번호 (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "제목 (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "제안자 (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "소관위 (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "링크 (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "게시종료일 (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "내용요약 (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "요약본 (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "기대효과 (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "게시글 (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "인덱스 (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "제목카드 (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "내용카드 (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "메일카드 (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 11
            },
            "mapper": {
                "11": "{{11.`11`}}",
                "14": "{{11.`14`}}"
            },
            "metadata": {
                "designer": {
                    "x": 558,
                    "y": 396
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Watch New Rows [11]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 14,
            "module": "instagram-business:CreateCarouselPhoto",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4285639
            },
            "mapper": {
                "files": [
                    {
                        "image_url": "{{12.array[1].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[2].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[3].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[4].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[5].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[6].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[7].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[8].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[9].`14`}}",
                        "media_type": "IMAGE"
                    },
                    {
                        "image_url": "{{12.array[10].`14`}}",
                        "media_type": "IMAGE"
                    }
                ],
                "caption": "{{12.array[1].`11`}}",
                "accountId": "17841476096142463"
            },
            "metadata": {
                "designer": {
                    "x": 991,
                    "y": 393,
                    "name": "전체"
                },
                "restore": {
                    "expect": {
                        "files": {
                            "mode": "chose",
                            "items": [
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                },
                                {
                                    "user_tags": {
                                        "mode": "chose"
                                    },
                                    "media_type": {
                                        "mode": "chose",
                                        "label": "Image"
                                    }
                                }
                            ]
                        },
                        "accountId": {
                            "mode": "chose",
                            "label": "입법다람이 (Seoul) (@esg2team)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "facebook"
                            },
                            "label": "My Facebook connection (강유원)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "accountId",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "media_type",
                                "type": "select",
                                "label": "Media Type",
                                "options": [
                                    {
                                        "label": "Image",
                                        "value": "IMAGE",
                                        "nested": [
                                            {
                                                "help": "**Photo Requirements**\n- Maximum file size: 8MiB\n- Aspect ratio: Must be within a 4:5 to 1.91:1 range\n- Minimum width: 320 (will be scaled up to the minimum if necessary)\n- Maximum width: 1440 (will be scaled down to the maximum if necessary)\n- Height: Varies, depending on width and aspect ratio\n- Format: JPEG only\n\nPlease note that your image must be hosted on a publicly accessible URL. You cannot use files from Google Drive even if they are shared publicly: the Instagram API is not able to download files from there.\nFor other similar services, you may need to adjust the URL with a `replace` function. You can search the web for `[service name] raw file link` to try to find workarounds.",
                                                "name": "image_url",
                                                "type": "url",
                                                "label": "Photo URL",
                                                "required": true
                                            },
                                            {
                                                "name": "user_tags",
                                                "spec": [
                                                    {
                                                        "help": "Must not start with `@`. User must have a public Instagram account.",
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "Username",
                                                        "required": true,
                                                        "validate": {
                                                            "pattern": "^(?!@)"
                                                        }
                                                    },
                                                    {
                                                        "help": "An optional float that indicates percentage distance from left edge of the published media image.",
                                                        "name": "x",
                                                        "type": "number",
                                                        "label": "X position",
                                                        "default": "0.0",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "help": "An optional float that indicates percentage distance from top edge of the published media image.",
                                                        "name": "y",
                                                        "type": "number",
                                                        "label": "Y position",
                                                        "default": "0.0",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1,
                                                            "min": 0
                                                        }
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "User Tags"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Video",
                                        "value": "VIDEO",
                                        "nested": [
                                            {
                                                "help": "**Photo Requirements**\n- Maximum file size: 100MiB\n- Picture size:\n  ・ Maximum columns (horizontal pixels): 1920\n  ・ Minimum aspect ratio [cols / rows]: 4 / 5\n  ・ Maximum aspect ratio [cols / rows]: 16 / 9\n- Duration: 60 seconds max, 3 seconds min\n- Container: MOV or MP4 (MPEG-4 Part 14), no edit lists, moov atom at the front of the file\n- Frame rate: 23-60 FPS\n- Video codec: HEVC or H264, progressive scan, closed GOP, 4:2:0 chroma subsampling\n- Video bitrate: VBR, 5Mbps maximum\n- Audio codec: AAC, 48khz sample rate maximum, 1 or 2 channels (mono or stereo)\n- Audio bitrate: 128kbps\n\nPlease note that your video must be hosted on a publicly accessible URL. You cannot use files from Google Drive even if they are shared publicly: the Instagram API is not able to download files from there.\nFor other similar services, you may need to adjust the URL with a `replace` function. You can search the web for `[service name] raw file link` to try to find workarounds.",
                                                "name": "video_url",
                                                "type": "url",
                                                "label": "Video URL",
                                                "required": true
                                            },
                                            {
                                                "help": "Location, in seconds, of the video frame to be used as the cover.",
                                                "name": "thumb_offset",
                                                "type": "number",
                                                "label": "Cover Frame"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Files",
                        "required": true,
                        "validate": {
                            "maxItems": 10,
                            "minItems": 2
                        }
                    },
                    {
                        "name": "caption",
                        "type": "text",
                        "label": "Caption"
                    },
                    {
                        "name": "location_id",
                        "type": "text",
                        "label": "Location ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 15,
                        "module": "instagram-business:CreateCarouselPhoto",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 4285639
                        },
                        "mapper": {
                            "files": [
                                {
                                    "image_url": "{{12.array[1].`14`}}",
                                    "media_type": "IMAGE"
                                },
                                {
                                    "image_url": "{{12.array[2].`14`}}",
                                    "media_type": "IMAGE"
                                },
                                {
                                    "image_url": "{{12.array[3].`14`}}",
                                    "media_type": "IMAGE"
                                }
                            ],
                            "caption": "{{12.array[1].`11`}}",
                            "accountId": "17841476096142463"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1000,
                                "y": 677,
                                "name": "일부만",
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Flow Control - Array aggregator' [12] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "files": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "user_tags": {
                                                    "mode": "chose"
                                                },
                                                "media_type": {
                                                    "mode": "chose",
                                                    "label": "Image"
                                                }
                                            },
                                            {
                                                "user_tags": {
                                                    "mode": "chose"
                                                },
                                                "media_type": {
                                                    "mode": "chose",
                                                    "label": "Image"
                                                }
                                            },
                                            {
                                                "user_tags": {
                                                    "mode": "chose"
                                                },
                                                "media_type": {
                                                    "mode": "chose",
                                                    "label": "Image"
                                                }
                                            }
                                        ]
                                    },
                                    "accountId": {
                                        "mode": "chose",
                                        "label": "입법다람이 (Seoul) (@esg2team)"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "facebook"
                                        },
                                        "label": "My Facebook connection (강유원)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:facebook",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "accountId",
                                    "type": "select",
                                    "label": "Page",
                                    "required": true
                                },
                                {
                                    "name": "files",
                                    "spec": [
                                        {
                                            "name": "media_type",
                                            "type": "select",
                                            "label": "Media Type",
                                            "options": [
                                                {
                                                    "label": "Image",
                                                    "value": "IMAGE",
                                                    "nested": [
                                                        {
                                                            "help": "**Photo Requirements**\n- Maximum file size: 8MiB\n- Aspect ratio: Must be within a 4:5 to 1.91:1 range\n- Minimum width: 320 (will be scaled up to the minimum if necessary)\n- Maximum width: 1440 (will be scaled down to the maximum if necessary)\n- Height: Varies, depending on width and aspect ratio\n- Format: JPEG only\n\nPlease note that your image must be hosted on a publicly accessible URL. You cannot use files from Google Drive even if they are shared publicly: the Instagram API is not able to download files from there.\nFor other similar services, you may need to adjust the URL with a `replace` function. You can search the web for `[service name] raw file link` to try to find workarounds.",
                                                            "name": "image_url",
                                                            "type": "url",
                                                            "label": "Photo URL",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "user_tags",
                                                            "spec": [
                                                                {
                                                                    "help": "Must not start with `@`. User must have a public Instagram account.",
                                                                    "name": "username",
                                                                    "type": "text",
                                                                    "label": "Username",
                                                                    "required": true,
                                                                    "validate": {
                                                                        "pattern": "^(?!@)"
                                                                    }
                                                                },
                                                                {
                                                                    "help": "An optional float that indicates percentage distance from left edge of the published media image.",
                                                                    "name": "x",
                                                                    "type": "number",
                                                                    "label": "X position",
                                                                    "default": "0.0",
                                                                    "required": true,
                                                                    "validate": {
                                                                        "max": 1,
                                                                        "min": 0
                                                                    }
                                                                },
                                                                {
                                                                    "help": "An optional float that indicates percentage distance from top edge of the published media image.",
                                                                    "name": "y",
                                                                    "type": "number",
                                                                    "label": "Y position",
                                                                    "default": "0.0",
                                                                    "required": true,
                                                                    "validate": {
                                                                        "max": 1,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "User Tags"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "label": "Video",
                                                    "value": "VIDEO",
                                                    "nested": [
                                                        {
                                                            "help": "**Photo Requirements**\n- Maximum file size: 100MiB\n- Picture size:\n  ・ Maximum columns (horizontal pixels): 1920\n  ・ Minimum aspect ratio [cols / rows]: 4 / 5\n  ・ Maximum aspect ratio [cols / rows]: 16 / 9\n- Duration: 60 seconds max, 3 seconds min\n- Container: MOV or MP4 (MPEG-4 Part 14), no edit lists, moov atom at the front of the file\n- Frame rate: 23-60 FPS\n- Video codec: HEVC or H264, progressive scan, closed GOP, 4:2:0 chroma subsampling\n- Video bitrate: VBR, 5Mbps maximum\n- Audio codec: AAC, 48khz sample rate maximum, 1 or 2 channels (mono or stereo)\n- Audio bitrate: 128kbps\n\nPlease note that your video must be hosted on a publicly accessible URL. You cannot use files from Google Drive even if they are shared publicly: the Instagram API is not able to download files from there.\nFor other similar services, you may need to adjust the URL with a `replace` function. You can search the web for `[service name] raw file link` to try to find workarounds.",
                                                            "name": "video_url",
                                                            "type": "url",
                                                            "label": "Video URL",
                                                            "required": true
                                                        },
                                                        {
                                                            "help": "Location, in seconds, of the video frame to be used as the cover.",
                                                            "name": "thumb_offset",
                                                            "type": "number",
                                                            "label": "Cover Frame"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "required": true
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Files",
                                    "required": true,
                                    "validate": {
                                        "maxItems": 10,
                                        "minItems": 2
                                    }
                                },
                                {
                                    "name": "caption",
                                    "type": "text",
                                    "label": "Caption"
                                },
                                {
                                    "name": "location_id",
                                    "type": "text",
                                    "label": "Location ID"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}