make_json/1.1.1.입법부 요약, 기대효과.blueprint.json
{
    "name": "1.1.1.입법부 요약, 기대효과",
    "flow": [
        {
            "id": 12,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "share",
                "mode": "select",
                "limit": 30,
                "sheetId": "입법부",
                "__IMTCONN__": 4265114,
                "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -99,
                    "y": 574,
                    "name": "국회입법"
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "입법부"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (oheth9@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "ESG2TEAM",
                                "2-2차",
                                "최종입법데이터"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "메일제목 (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "수집일 (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "의안번호 (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "제목 (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "제안자 (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "소관위 (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "링크 (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "게시종료일 (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "내용요약 (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "요약본 (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "기대효과 (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "게시글 (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "인덱스 (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "제목카드 (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "내용카드 (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "메일카드 (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4142779
            },
            "mapper": {
                "model": "gpt-3.5-turbo",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a legislative assistant AI specialized in summarizing legal proposal justifications. You will be given one or more Korean legislative draft sections titled \"{{12.`8`}}\". Your task is to summarize each one in plain, concise Korean using natural sentences, within 250 characters (including spaces). \r\n\r\nDo NOT use bullets, dashes, asterisks, or numbering of any kind. Output each summary as a grammatically correct standalone sentence, not a list. The tone should be formal and professional. All suffixes must end in a noun form. Make sure to retain the core legislative intent, target, and proposed change."
                    },
                    {
                        "role": "user",
                        "content": "다음의 \"{{12.`8`}}\"을 공백 포함 250자 이내로 요약해줘. 문장 형태로 출력해주고, - 또는 * 기호, 숫자 번호는 절대 사용하지 말고, 완전한 한 문장으로 써줘. 법안 취지, 대상, 개정 방향이 잘 드러나게 요약해줘. 말투는 -함, -됨처럼 명사형 어미로 끝내줘.\r\n\r\n{제안 텍스트 입력}"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 381,
                    "y": 563,
                    "name": "요약본 작성"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4265114
            },
            "mapper": {
                "from": "share",
                "mode": "select",
                "values": {
                    "9": "{{13.choices[].message.content}}"
                },
                "sheetId": "입법부",
                "rowNumber": "{{12.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 792,
                    "y": 563,
                    "name": "요약본 추가"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "입법부"
                        },
                        "spreadsheetId": {
                            "path": [
                                "ESG2TEAM",
                                "2-2차",
                                "최종입법데이터"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "메일제목 (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "수집일 (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "의안번호 (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "제목 (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "제안자 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "소관위 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "링크 (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "게시종료일 (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "주요내용 (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "요약본 (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "기대효과 (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "제목카드 (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "내용카드 (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "메일카드 (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (oheth9@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "메일제목 (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "수집일 (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "의안번호 (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "제목 (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "제안자 (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "소관위 (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "링크 (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "게시종료일 (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "주요내용 (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "요약본 (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "기대효과 (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "제목카드 (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "내용카드 (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "메일카드 (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4142779
            },
            "mapper": {
                "model": "gpt-3.5-turbo",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a legal policy analyst AI. Your task is to analyze a Korean legislative proposal section titled \"{{12.`8`}}\" and infer its expected effects on society and stakeholders.\r\n\r\nYour output must be:\r\n- Written in Korean\r\n- Presented in 개조식 (bullet points with no creative variation)\r\n- Strictly based on factual inference, not creative speculation\r\n- Focused on measurable or logical outcomes such as system improvements, rights protections, cost reduction, or procedural transparency.\r\n\r\nThe tone should be professional and objective. Use concise, formal language suitable for inclusion in government or policy documents.\r\n"
                    },
                    {
                        "role": "user",
                        "content": "다음 \"{{12.`8`}}\"을 읽고, 이 입법안이 시행될 경우 기대되는 사회적 효과를 개조식으로 정리해줘. 창의적인 예상이나 감성적 표현 없이, 사실에 기반한 정책적·사회적 영향을 중심으로 써줘. 항목은 3개 작성해줘.\r\n\r\n{제안이유 및 주요내용 텍스트 입력}"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1233,
                    "y": 563,
                    "name": "기대효과 작성"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4265114
            },
            "mapper": {
                "from": "share",
                "mode": "select",
                "values": {
                    "10": "{{17.choices[].message.content}}"
                },
                "sheetId": "입법부",
                "rowNumber": "{{12.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1663,
                    "y": 559,
                    "name": "기대효과 추가"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "입법부"
                        },
                        "spreadsheetId": {
                            "path": [
                                "ESG2TEAM",
                                "2-2차",
                                "최종입법데이터"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "메일제목 (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "수집일 (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "의안번호 (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "제목 (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "제안자 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "소관위 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "링크 (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "게시종료일 (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "주요내용 (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "요약본 (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "기대효과 (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "제목카드 (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "내용카드 (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "메일카드 (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (oheth9@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "메일제목 (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "수집일 (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "의안번호 (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "제목 (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "제안자 (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "소관위 (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "링크 (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "게시종료일 (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "주요내용 (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "요약본 (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "기대효과 (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "제목카드 (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "내용카드 (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "메일카드 (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 29,
                        "module": "builtin:BasicAggregator",
                        "version": 1,
                        "parameters": {
                            "feeder": 19
                        },
                        "mapper": {
                            "3": "{{12.`3`}}",
                            "12": "{{12.`12`}}",
                            "__ROW_NUMBER__": "{{12.`__ROW_NUMBER__`}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 103,
                                "y": 1068,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "extra": {
                                    "feeder": {
                                        "label": "기대효과 추가 - Update a Row [19]"
                                    },
                                    "target": {
                                        "label": "Custom"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 30,
                        "module": "util:TextAggregator",
                        "version": 1,
                        "parameters": {
                            "feeder": 29,
                            "rowSeparator": ""
                        },
                        "mapper": {
                            "value": "{{29.array}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 524,
                                "y": 1067
                            },
                            "restore": {
                                "extra": {
                                    "feeder": {
                                        "label": "Array aggregator [25]"
                                    }
                                },
                                "parameters": {
                                    "rowSeparator": {
                                        "label": "Empty"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "rowSeparator",
                                    "type": "select",
                                    "label": "Row separator",
                                    "validate": {
                                        "enum": [
                                            "\n",
                                            "\t",
                                            "other"
                                        ]
                                    }
                                }
                            ],
                            "expect": [
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Text"
                                }
                            ],
                            "advanced": true
                        },
                        "flags": {
                            "groupBy": "{{25.array[].`__ROW_NUMBER__`}}"
                        }
                    },
                    {
                        "id": 31,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 4142779
                        },
                        "mapper": {
                            "model": "gpt-3.5-turbo",
                            "top_p": "1",
                            "select": "chat",
                            "messages": [
                                {
                                    "role": "system",
                                    "content": "You are a social media content writer who specializes in turning legislative bill titles into clear, concise, and visually appealing Instagram post content. You will receive a list of legislative bill titles with index numbers in the form \"{{30.text}}\". Your task is to:\r\n\r\n1. Ignore hash symbols (#) provided by the user.  \r\n2. Start the post with an engaging one-line introduction designed for Instagram users.  \r\n3. List each bill in a clean, numbered format (1, 2, 3...) without any additional characters like #, and do not include phrases such as '입법예고된 법안 리스트를 알려드릴게요' or similar explanations.  \r\n4. After the bill list, insert this line exactly:  \r\n   🔗 프로필 링크를 통해 입법예고 찬성 및 반대 의견에 참여해보세요.\r\n5. Then generate 7~10 hashtags based on the list. All hashtags should be in lowercase, no spacing, and each must start with `#`. Do not include explanation such as “관련 해시태그” or parenthetical notes.\r\n\r\nMake sure the output reads like an Instagram post ready to be published — concise, informative, and visually clean. Do not add any explanation or commentary. Do not use quotes or markdown formatting.\r\n"
                                },
                                {
                                    "role": "user",
                                    "content": "다음은 오늘 입법예고된 법안 리스트입니다. 번호는 자동으로 붙여주세요:\r\n\r\n{{30.text}}\r\n\r\n1. 각 법안 제목을 바탕으로 사용자들의 관심을 끌 수 있는 해시태그 7~10개를 생성해줘.\r\n2. 해시태그 전에 프로필 링크를 통해 입법예고 찬성 반대 의견에 참여할 수 있다는 문장을 넣어줘.\r\n3. 해시태그는 모두 소문자로 출력하고, 띄어쓰기 없이 `#`으로 시작하는 형식으로 마지막에 일괄 배치해줘.\r\n4. 번호 앞에 `#` 붙이지 말고, \"법안 리스트를 알려드리겠습니다\" 같은 문구는 쓰지 말아줘. 설명도 생략해줘."
                                }
                            ],
                            "max_tokens": "2048",
                            "temperature": "1",
                            "n_completions": "1",
                            "response_format": "text"
                        },
                        "metadata": {
                            "designer": {
                                "x": 955,
                                "y": 1063,
                                "name": "게시글 작성"
                            },
                            "restore": {
                                "expect": {
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-3.5-turbo"
                                    },
                                    "select": {
                                        "label": "Create a Chat Completion (GPT and o1 models)"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "Developer / System"
                                                }
                                            },
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                }
                                            }
                                        ]
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "tool_choice": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "My OpenAI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "tool_choice",
                                    "type": "select",
                                    "label": "Tool Choice",
                                    "validate": {
                                        "enum": [
                                            "none",
                                            "auto",
                                            "required"
                                        ]
                                    }
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Completion Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "mode": "edit",
                                                                    "name": "tool_calls",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "hidden",
                                                                                "default": "function"
                                                                            },
                                                                            {
                                                                                "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool call ID"
                                                                            },
                                                                            {
                                                                                "name": "function",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "The name of the function previously called.",
                                                                                        "name": "name",
                                                                                        "type": "text",
                                                                                        "label": "Name",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The arguments previously output by the AI.",
                                                                                        "name": "arguments",
                                                                                        "type": "text",
                                                                                        "label": "Arguments",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Function"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Tool Call"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Tool Calls",
                                                                    "labels": {
                                                                        "add": "Add tool call"
                                                                    },
                                                                    "mappable": {
                                                                        "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Developer / System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tool",
                                                            "value": "tool",
                                                            "nested": [
                                                                {
                                                                    "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "tool_call_id",
                                                                    "type": "text",
                                                                    "label": "Tool Call ID.",
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "result",
                                    "type": "any",
                                    "label": "Result"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                },
                                {
                                    "name": "created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "model",
                                    "type": "text",
                                    "label": "Model"
                                },
                                {
                                    "name": "choices",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        },
                                        {
                                            "name": "logprobs",
                                            "type": "text",
                                            "label": "Log Probs"
                                        },
                                        {
                                            "name": "finish_reason",
                                            "type": "text",
                                            "label": "Finish Reason"
                                        },
                                        {
                                            "name": "message",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text",
                                                    "label": "Role"
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content"
                                                },
                                                {
                                                    "name": "tool_calls",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "function",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Name"
                                                                },
                                                                {
                                                                    "name": "arguments",
                                                                    "type": "text",
                                                                    "label": "Arguments"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Function"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Tool Calls"
                                                },
                                                {
                                                    "name": "refusal",
                                                    "type": "text",
                                                    "label": "Refusal"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "url_citation",
                                                            "spec": [
                                                                {
                                                                    "name": "end_index",
                                                                    "type": "number",
                                                                    "label": "End Index"
                                                                },
                                                                {
                                                                    "name": "start_index",
                                                                    "type": "number",
                                                                    "label": "Start Index"
                                                                },
                                                                {
                                                                    "name": "title",
                                                                    "type": "text",
                                                                    "label": "Title"
                                                                },
                                                                {
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "URL"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "URL Citation"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Choices"
                                },
                                {
                                    "name": "usage",
                                    "spec": [
                                        {
                                            "name": "prompt_tokens",
                                            "type": "number",
                                            "label": "Prompt Tokens"
                                        },
                                        {
                                            "name": "completion_tokens",
                                            "type": "text",
                                            "label": "Completion Tokens"
                                        },
                                        {
                                            "name": "total_tokens",
                                            "type": "number",
                                            "label": "Total Tokens"
                                        },
                                        {
                                            "name": "prompt_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "cached_tokens",
                                                    "type": "uinteger",
                                                    "label": "Cached Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "image_tokens",
                                                    "type": "uinteger",
                                                    "label": "Image Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "completion_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "reasoning_tokens",
                                                    "type": "uinteger",
                                                    "label": "Reasoning Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                },
                                                {
                                                    "name": "accepted_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Accepted Prediction Tokens"
                                                },
                                                {
                                                    "name": "rejected_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Rejected Prediction Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Completion Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage"
                                },
                                {
                                    "name": "service_tier",
                                    "type": "text",
                                    "label": "Service Tier"
                                },
                                {
                                    "name": "system_fingerprint",
                                    "type": "text",
                                    "label": "System Fingerprint"
                                }
                            ]
                        }
                    },
                    {
                        "id": 32,
                        "module": "google-sheets:updateRow",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 4265114
                        },
                        "mapper": {
                            "from": "share",
                            "mode": "select",
                            "values": {
                                "9": "{{31.result}}"
                            },
                            "sheetId": "행정부",
                            "rowNumber": "{{30.`__IMTKEY__`}}",
                            "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                            "includesHeaders": true,
                            "valueInputOption": "USER_ENTERED"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1410,
                                "y": 1052,
                                "name": "게시글 추가"
                            },
                            "restore": {
                                "expect": {
                                    "from": {
                                        "label": "Shared with me"
                                    },
                                    "mode": {
                                        "label": "Search by path"
                                    },
                                    "sheetId": {
                                        "label": "행정부"
                                    },
                                    "spreadsheetId": {
                                        "path": [
                                            "ESG2TEAM",
                                            "2-2차",
                                            "최종입법데이터"
                                        ]
                                    },
                                    "includesHeaders": {
                                        "label": "Yes",
                                        "nested": [
                                            {
                                                "name": "values",
                                                "spec": [
                                                    {
                                                        "name": "0",
                                                        "type": "text",
                                                        "label": "메일제목 (A)"
                                                    },
                                                    {
                                                        "name": "1",
                                                        "type": "text",
                                                        "label": "수집일 (B)"
                                                    },
                                                    {
                                                        "name": "2",
                                                        "type": "text",
                                                        "label": "제목 (C)"
                                                    },
                                                    {
                                                        "name": "3",
                                                        "type": "text",
                                                        "label": "소관위 (D)"
                                                    },
                                                    {
                                                        "name": "4",
                                                        "type": "text",
                                                        "label": "게시종료일 (E)"
                                                    },
                                                    {
                                                        "name": "5",
                                                        "type": "text",
                                                        "label": "주요내용 (F)"
                                                    },
                                                    {
                                                        "name": "6",
                                                        "type": "text",
                                                        "label": "링크 (G)"
                                                    },
                                                    {
                                                        "name": "7",
                                                        "type": "text",
                                                        "label": "요약본 (H)"
                                                    },
                                                    {
                                                        "name": "8",
                                                        "type": "text",
                                                        "label": "기대효과 (I)"
                                                    },
                                                    {
                                                        "name": "9",
                                                        "type": "text",
                                                        "label": "게시글 (J)"
                                                    },
                                                    {
                                                        "name": "10",
                                                        "type": "text",
                                                        "label": "인덱스 (K)"
                                                    },
                                                    {
                                                        "name": "11",
                                                        "type": "text",
                                                        "label": "제목카드 (L)"
                                                    },
                                                    {
                                                        "name": "12",
                                                        "type": "text",
                                                        "label": "내용카드 (M)"
                                                    },
                                                    {
                                                        "name": "13",
                                                        "type": "text",
                                                        "label": "메일카드 (N)"
                                                    },
                                                    {
                                                        "name": "14",
                                                        "type": "text",
                                                        "label": "(O)"
                                                    },
                                                    {
                                                        "name": "15",
                                                        "type": "text",
                                                        "label": "(P)"
                                                    },
                                                    {
                                                        "name": "16",
                                                        "type": "text",
                                                        "label": "(Q)"
                                                    },
                                                    {
                                                        "name": "17",
                                                        "type": "text",
                                                        "label": "(R)"
                                                    },
                                                    {
                                                        "name": "18",
                                                        "type": "text",
                                                        "label": "(S)"
                                                    },
                                                    {
                                                        "name": "19",
                                                        "type": "text",
                                                        "label": "(T)"
                                                    },
                                                    {
                                                        "name": "20",
                                                        "type": "text",
                                                        "label": "(U)"
                                                    },
                                                    {
                                                        "name": "21",
                                                        "type": "text",
                                                        "label": "(V)"
                                                    },
                                                    {
                                                        "name": "22",
                                                        "type": "text",
                                                        "label": "(W)"
                                                    },
                                                    {
                                                        "name": "23",
                                                        "type": "text",
                                                        "label": "(X)"
                                                    },
                                                    {
                                                        "name": "24",
                                                        "type": "text",
                                                        "label": "(Y)"
                                                    },
                                                    {
                                                        "name": "25",
                                                        "type": "text",
                                                        "label": "(Z)"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Values"
                                            }
                                        ]
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "My Google connection (oheth9@gmail.com)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "mode",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "select",
                                            "fromAll",
                                            "map"
                                        ]
                                    }
                                },
                                {
                                    "name": "valueInputOption",
                                    "type": "select",
                                    "label": "Value input option",
                                    "validate": {
                                        "enum": [
                                            "USER_ENTERED",
                                            "RAW"
                                        ]
                                    }
                                },
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Drive",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share",
                                            "team"
                                        ]
                                    }
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "rowNumber",
                                    "type": "uinteger",
                                    "label": "Row number",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "메일제목 (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "수집일 (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "제목 (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "소관위 (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "게시종료일 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "주요내용 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "링크 (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "요약본 (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "기대효과 (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "게시글 (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "인덱스 (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "제목카드 (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "내용카드 (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "메일카드 (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}