make_json/2.3 메일 합치고 발송 .blueprint.json
{
    "name": "2.3 메일 합치고 발송 ",
    "flow": [
        {
            "id": 9,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "share",
                "mode": "select",
                "limit": 40,
                "sheetId": "입법부",
                "__IMTCONN__": 4265114,
                "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -733,
                    "y": 309
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "입법부"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (oheth9@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "ESG2TEAM",
                                "2-2차",
                                "최종입법데이터"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "메일제목 (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "수집일 (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "의안번호 (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "제목 (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "제안자 (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "소관위 (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "링크 (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "게시종료일 (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "내용요약 (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "요약본 (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "기대효과 (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "게시글 (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "인덱스 (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "제목카드 (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "내용카드 (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "메일카드 (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "메일주소 (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 9
            },
            "mapper": {
                "0": "{{9.`0`}}",
                "15": "{{9.`15`}}",
                "16": "{{9.`16`}}",
                "__ROW_NUMBER__": "{{9.`__ROW_NUMBER__`}}"
            },
            "metadata": {
                "designer": {
                    "x": -308,
                    "y": 317
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Watch New Rows [9]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                },
                "advanced": true
            },
            "flags": {
                "groupBy": "{{9.`__ROW_NUMBER__`}}"
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{4.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 128,
                    "y": 310
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 10,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "<div style=\"margin-bottom: 30px;\">\r\n  <img src=\"{{10.`15`}}\" width=\"600px\" />\r\n</div>"
            },
            "metadata": {
                "designer": {
                    "x": 550,
                    "y": 307
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [10]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4265114
            },
            "mapper": {
                "from": "share",
                "mode": "select",
                "values": {
                    "17": "{{7.text}}"
                },
                "sheetId": "입법부",
                "rowNumber": "{{4.`__IMTKEY__`}}",
                "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 975,
                    "y": 299
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "입법부"
                        },
                        "spreadsheetId": {
                            "path": [
                                "ESG2TEAM",
                                "2-2차",
                                "최종입법데이터"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "메일제목 (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "수집일 (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "의안번호 (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "제목 (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "제안자 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "소관위 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "링크 (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "게시종료일 (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "내용요약 (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "요약본 (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "기대효과 (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "게시글 (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "인덱스 (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "제목카드 (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "내용카드 (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "메일카드 (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "메일주소 (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (oheth9@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "메일제목 (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "수집일 (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "의안번호 (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "제목 (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "제안자 (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "소관위 (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "링크 (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "게시종료일 (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "내용요약 (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "요약본 (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "기대효과 (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "게시글 (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "인덱스 (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "제목카드 (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "내용카드 (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "메일카드 (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "메일주소 (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": 4265283
            },
            "mapper": {
                "cc": [],
                "to": "{{11.updatedColumns}}",
                "bcc": [],
                "from": "",
                "html": "<p>오늘의 카드뉴스입니다.</p>\n{{7.text}}",
                "subject": "{{4.array[].`0`}}",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 1304,
                    "y": 296
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "edit"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (oheth9@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 1,
                        "module": "google-sheets:watchRows",
                        "version": 2,
                        "parameters": {
                            "from": "share",
                            "mode": "select",
                            "limit": 30,
                            "sheetId": "행정부",
                            "__IMTCONN__": 4265114,
                            "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                            "tableFirstRow": "A1:Z1",
                            "includesHeaders": true,
                            "valueRenderOption": "FORMATTED_VALUE",
                            "dateTimeRenderOption": "FORMATTED_STRING"
                        },
                        "mapper": {},
                        "metadata": {
                            "designer": {
                                "x": -645,
                                "y": -97,
                                "name": "행합치기",
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "A trigger must be the first module in a scenario."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "from": {
                                        "label": "Shared with me"
                                    },
                                    "mode": {
                                        "label": "Search by path"
                                    },
                                    "sheetId": {
                                        "label": "행정부"
                                    },
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "My Google connection (oheth9@gmail.com)"
                                    },
                                    "spreadsheetId": {
                                        "path": [
                                            "ESG2TEAM",
                                            "2-2차",
                                            "최종입법데이터"
                                        ]
                                    },
                                    "includesHeaders": {
                                        "label": "Yes"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                },
                                {
                                    "name": "mode",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "select",
                                            "fromAll",
                                            "map"
                                        ]
                                    }
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "limit",
                                    "type": "uinteger",
                                    "label": "Limit",
                                    "required": true
                                },
                                {
                                    "name": "valueRenderOption",
                                    "type": "select",
                                    "label": "Value render option",
                                    "validate": {
                                        "enum": [
                                            "FORMATTED_VALUE",
                                            "UNFORMATTED_VALUE",
                                            "FORMULA"
                                        ]
                                    }
                                },
                                {
                                    "name": "dateTimeRenderOption",
                                    "type": "select",
                                    "label": "Date and time render option",
                                    "validate": {
                                        "enum": [
                                            "SERIAL_NUMBER",
                                            "FORMATTED_STRING"
                                        ]
                                    }
                                },
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Drive",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share",
                                            "team"
                                        ]
                                    }
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "tableFirstRow",
                                    "type": "text",
                                    "label": "Row with headers",
                                    "required": true
                                }
                            ],
                            "interface": [
                                {
                                    "name": "__ROW_NUMBER__",
                                    "type": "number",
                                    "label": "Row number"
                                },
                                {
                                    "name": "__SPREADSHEET_ID__",
                                    "type": "text",
                                    "label": "Spreadsheet ID"
                                },
                                {
                                    "name": "__SHEET__",
                                    "type": "text",
                                    "label": "Sheet"
                                },
                                {
                                    "name": "0",
                                    "type": "text",
                                    "label": "메일제목 (A)"
                                },
                                {
                                    "name": "1",
                                    "type": "text",
                                    "label": "수집일 (B)"
                                },
                                {
                                    "name": "2",
                                    "type": "text",
                                    "label": "제목 (C)"
                                },
                                {
                                    "name": "3",
                                    "type": "text",
                                    "label": "소관위 (D)"
                                },
                                {
                                    "name": "4",
                                    "type": "text",
                                    "label": "게시종료일 (E)"
                                },
                                {
                                    "name": "5",
                                    "type": "text",
                                    "label": "주요내용 (F)"
                                },
                                {
                                    "name": "6",
                                    "type": "text",
                                    "label": "링크 (G)"
                                },
                                {
                                    "name": "7",
                                    "type": "text",
                                    "label": "요약본 (H)"
                                },
                                {
                                    "name": "8",
                                    "type": "text",
                                    "label": "기대효과 (I)"
                                },
                                {
                                    "name": "9",
                                    "type": "text",
                                    "label": "게시글 (J)"
                                },
                                {
                                    "name": "10",
                                    "type": "text",
                                    "label": "인덱스 (K)"
                                },
                                {
                                    "name": "11",
                                    "type": "text",
                                    "label": "제목카드 (L)"
                                },
                                {
                                    "name": "12",
                                    "type": "text",
                                    "label": "내용카드 (M)"
                                },
                                {
                                    "name": "13",
                                    "type": "text",
                                    "label": "메일카드 (N)"
                                },
                                {
                                    "name": "14",
                                    "type": "text",
                                    "label": "(O)"
                                },
                                {
                                    "name": "15",
                                    "type": "text",
                                    "label": "(P)"
                                },
                                {
                                    "name": "16",
                                    "type": "text",
                                    "label": "(Q)"
                                },
                                {
                                    "name": "17",
                                    "type": "text",
                                    "label": "(R)"
                                },
                                {
                                    "name": "18",
                                    "type": "text",
                                    "label": "(S)"
                                },
                                {
                                    "name": "19",
                                    "type": "text",
                                    "label": "(T)"
                                },
                                {
                                    "name": "20",
                                    "type": "text",
                                    "label": "(U)"
                                },
                                {
                                    "name": "21",
                                    "type": "text",
                                    "label": "(V)"
                                },
                                {
                                    "name": "22",
                                    "type": "text",
                                    "label": "(W)"
                                },
                                {
                                    "name": "23",
                                    "type": "text",
                                    "label": "(X)"
                                },
                                {
                                    "name": "24",
                                    "type": "text",
                                    "label": "(Y)"
                                },
                                {
                                    "name": "25",
                                    "type": "text",
                                    "label": "(Z)"
                                }
                            ]
                        }
                    },
                    {
                        "id": 2,
                        "module": "google-sheets:addRow",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 4265114
                        },
                        "mapper": {
                            "from": "share",
                            "mode": "select",
                            "values": {
                                "15": "{{1.`13`}}"
                            },
                            "sheetId": "입법부",
                            "spreadsheetId": "/1VSARrzbLzJbf-oIzSmYaNlUXfVarCRaC/1zQ8WmiaTzKSjBS87oeySXeTOHLPYlJTD/1rGMH025Kt0h3arGvigKx4bfaP6AzNQRxdm8Ku6wfKnQ",
                            "includesHeaders": true,
                            "insertDataOption": "INSERT_ROWS",
                            "valueInputOption": "USER_ENTERED",
                            "insertUnformatted": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -314,
                                "y": -95,
                                "name": "행정부->입법부"
                            },
                            "restore": {
                                "expect": {
                                    "from": {
                                        "label": "Shared with me"
                                    },
                                    "mode": {
                                        "label": "Search by path"
                                    },
                                    "sheetId": {
                                        "label": "입법부"
                                    },
                                    "spreadsheetId": {
                                        "path": [
                                            "ESG2TEAM",
                                            "2-2차",
                                            "최종입법데이터"
                                        ]
                                    },
                                    "includesHeaders": {
                                        "label": "Yes",
                                        "nested": [
                                            {
                                                "name": "values",
                                                "spec": [
                                                    {
                                                        "name": "0",
                                                        "type": "text",
                                                        "label": "메일제목 (A)"
                                                    },
                                                    {
                                                        "name": "1",
                                                        "type": "text",
                                                        "label": "수집일 (B)"
                                                    },
                                                    {
                                                        "name": "2",
                                                        "type": "text",
                                                        "label": "의안번호 (C)"
                                                    },
                                                    {
                                                        "name": "3",
                                                        "type": "text",
                                                        "label": "제목 (D)"
                                                    },
                                                    {
                                                        "name": "4",
                                                        "type": "text",
                                                        "label": "제안자 (E)"
                                                    },
                                                    {
                                                        "name": "5",
                                                        "type": "text",
                                                        "label": "소관위 (F)"
                                                    },
                                                    {
                                                        "name": "6",
                                                        "type": "text",
                                                        "label": "링크 (G)"
                                                    },
                                                    {
                                                        "name": "7",
                                                        "type": "text",
                                                        "label": "게시종료일 (H)"
                                                    },
                                                    {
                                                        "name": "8",
                                                        "type": "text",
                                                        "label": "내용요약 (I)"
                                                    },
                                                    {
                                                        "name": "9",
                                                        "type": "text",
                                                        "label": "요약본 (J)"
                                                    },
                                                    {
                                                        "name": "10",
                                                        "type": "text",
                                                        "label": "기대효과 (K)"
                                                    },
                                                    {
                                                        "name": "11",
                                                        "type": "text",
                                                        "label": "게시글 (L)"
                                                    },
                                                    {
                                                        "name": "12",
                                                        "type": "text",
                                                        "label": "인덱스 (M)"
                                                    },
                                                    {
                                                        "name": "13",
                                                        "type": "text",
                                                        "label": "제목카드 (N)"
                                                    },
                                                    {
                                                        "name": "14",
                                                        "type": "text",
                                                        "label": "내용카드 (O)"
                                                    },
                                                    {
                                                        "name": "15",
                                                        "type": "text",
                                                        "label": "메일카드 (P)"
                                                    },
                                                    {
                                                        "name": "16",
                                                        "type": "text",
                                                        "label": "(Q)"
                                                    },
                                                    {
                                                        "name": "17",
                                                        "type": "text",
                                                        "label": "(R)"
                                                    },
                                                    {
                                                        "name": "18",
                                                        "type": "text",
                                                        "label": "(S)"
                                                    },
                                                    {
                                                        "name": "19",
                                                        "type": "text",
                                                        "label": "(T)"
                                                    },
                                                    {
                                                        "name": "20",
                                                        "type": "text",
                                                        "label": "(U)"
                                                    },
                                                    {
                                                        "name": "21",
                                                        "type": "text",
                                                        "label": "(V)"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Values"
                                            }
                                        ]
                                    },
                                    "insertDataOption": {
                                        "mode": "chose",
                                        "label": "Insert rows"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    },
                                    "insertUnformatted": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "My Google connection (oheth9@gmail.com)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "mode",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "select",
                                            "fromAll",
                                            "map"
                                        ]
                                    }
                                },
                                {
                                    "name": "insertUnformatted",
                                    "type": "boolean",
                                    "label": "Unformatted",
                                    "required": true
                                },
                                {
                                    "name": "valueInputOption",
                                    "type": "select",
                                    "label": "Value input option",
                                    "validate": {
                                        "enum": [
                                            "USER_ENTERED",
                                            "RAW"
                                        ]
                                    }
                                },
                                {
                                    "name": "insertDataOption",
                                    "type": "select",
                                    "label": "Insert data option",
                                    "validate": {
                                        "enum": [
                                            "INSERT_ROWS",
                                            "OVERWRITE"
                                        ]
                                    }
                                },
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Drive",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share",
                                            "team"
                                        ]
                                    }
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "메일제목 (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "수집일 (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "의안번호 (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "제목 (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "제안자 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "소관위 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "링크 (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "게시종료일 (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "내용요약 (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "요약본 (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "기대효과 (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "게시글 (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "인덱스 (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "제목카드 (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "내용카드 (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "메일카드 (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}